.container {
  margin: 0 auto;
  max-width: 75rem;
}

.main {
  padding: 1.25rem;
}

.h1 {
  margin-bottom: 1.25rem;
  font-size: 3.125rem;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 1.25rem;
}
